version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8080:80"

    # Load environment variables from .env
    env_file:
      - .env

    # Explicitly expose variables you want inside the container
    environment:
      API_KEY: ${API_KEY}

    restart: unless-stopped
    container_name: weather-app

    networks:
      - weather-network

networks:
  weather-network:
    driver: bridge
