version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8080:80"

    env_file:
      - .env
    environment:
      API_KEY: ${API_KEY}

    # Bind mount your local folder into nginx html directory
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
      - ./style.css:/usr/share/nginx/html/style.css
      - ./app.js:/usr/share/nginx/html/app.js

    restart: unless-stopped
    container_name: weather-app

    networks:
      - weather-network

networks:
  weather-network:
    driver: bridge
